USE [Memo]
GO
/****** Object:  Table [dbo].[GBF_Item_Info]    Script Date: 07/01/2018 00:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GBF_Item_Info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patch] [varchar](50) NULL,
	[category_type] [varchar](25) NULL,
	[image] [int] NULL,
	[is_display_select_item] [bit] NULL,
	[item_id] [int] NULL,
	[name] [varchar](100) NULL,
	[number] [int] NULL,
	[user_id] [varchar](20) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_GBF_ITEM_INFO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Base_User]    Script Date: 07/01/2018 00:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[create_time] [datetime] NULL,
	[last_modify_time] [datetime] NULL,
	[cellphone] [varchar](11) NULL,
	[email] [varchar](50) NULL,
	[gbf_id] [varchar](20) NULL,
 CONSTRAINT [PK_BASE_USER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_Base_User_create_time]    Script Date: 07/01/2018 00:13:09 ******/
ALTER TABLE [dbo].[Base_User] ADD  CONSTRAINT [DF_Base_User_create_time]  DEFAULT (getdate()) FOR [create_time]
GO
/****** Object:  Default [DF_Base_User_last_modify_time]    Script Date: 07/01/2018 00:13:09 ******/
ALTER TABLE [dbo].[Base_User] ADD  CONSTRAINT [DF_Base_User_last_modify_time]  DEFAULT (getdate()) FOR [last_modify_time]
GO
/****** Object:  Default [DF_GBF_Item_Info_create_time]    Script Date: 07/01/2018 00:13:09 ******/
ALTER TABLE [dbo].[GBF_Item_Info] ADD  CONSTRAINT [DF_GBF_Item_Info_create_time]  DEFAULT (getdate()) FOR [create_time]
GO
